.STARDUST1 {
  position: relative !important;
  top: -60px;
}

.STARDUST2 {
  position: relative !important;
  top: -40px;
}

.STARDUST3 {
  position: relative !important;
  top: -20px;
}
    
.title {
  z-index: 9999 !important;
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Montserrat";
  text-align: center;
  width: 100%;
}

.title h1 {
  z-index: 99;
  position: relative;
  color: #fff;
  font-weight: 100;
  font-size: 70px;
  padding: 0;
  margin: 0;
  line-height: 1;
  text-shadow: 0 0 10px #ff006c, 0 0 20px #ff006c, 0 0 30px #ff006c, 0 0 40px #ff417d, 0 0 70px #ff417d, 0 0 80px #ff417d, 0 0 100px #ff417d, 0 0 150px #ff417d;
}

.title h1 span {
  z-index: 99;
  font-weight: 600;
  padding: 0;
  margin: 0;
  color: #ffffff;
}

.title h3 {
  z-index: 99;
  font-weight: 200;
  font-size: 26px;
  padding: 0;
  margin: 0;
  line-height: 1;
  color: #ffffff;
  letter-spacing: 2px;
}
    
        img {
    aspect-ratio: 1;
    object-fit: cover;
    --_m: radial-gradient(#000 69%, #0000 70%) 84.5% fill/100%;
    -webkit-mask-box-image: var(--_m);
    mask-border: var(--_m);
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}

    html,
    body {
      height: 100%;
      padding: 0;
      margin: 0;
      background: rgb(225, 44, 174);
      display: flex;
      justify-content: center;
      align-items: center;    
      min-height: 100vh;
    }

    .name {
      text-align: center;
      position: absolute;
      left: 50%;
      top: 70%;
      transform: translate(-50%, -50%);
      padding: 20px;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      font-size: 30px;
      background-image: linear-gradient(to left, #ee6392, #eb67a5);
      font-style: italic;
    }

    .date {
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      font-size: 30px;
      background-image: linear-gradient(to left, #FF6699, #FF6699);
      font-style: italic;
    }

    .box {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
    }

    canvas {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    #heartPink {
      position: relative;
      margin: auto;
      height: 500px;
      width: 500px;
      animation: animate 1.5s infinite;
    }

    #heartPink:before,
    #heartPink:after {
      content: "";
      position: absolute;
      background: #ffd96a;
      width: 100px;
      height: 160px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
    }

    #heartPink.name {
      left: 100px;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    #heartPink:after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }

    @keyframes animate {
      0% {
        transform: scale(1.2);
      }

      30% {
        transform: scale(1);
      }

      60% {
        transform: scale(1.4);
      }

      100% {
        transform: scale(1.2);
      }
    }
    @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
   h1 {
    left: 20%;
  position: relative;
  color: hsl(0, 0%, 68%);
  font-weight: bold;
  font-family: "Anonymous Pro", monospace;
  letter-spacing: 7px;
  overflow: hidden;
  /* border-right: 2px solid hsl(0, 0%, 80%); */
  white-space: nowrap;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 1000px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}

h3 {
  color: hsl(0, 79%, 41%);
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  cursor: pointer;
  text-transform: uppercase;
}

h3 {
  padding: 64px;
  background: linear-gradient(to right, hsl(253, 86%, 45%) 0, hsl(0, 68%, 49%) 10%, hsl(256, 68%, 45%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}